/* 폰트 가지고 와서 사용할 수 있음 */
/* 영문, 한글 폰트 따로 가지고 와서 사용하는 것이 예쁘다 */

@charset "utf-8";

/* 대표 글꼴 */
@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 강조 글꼴 */
@font-face {
    font-family: 'Ownglyph_jooreeletter-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_jooreeletter-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 설명 글꼴 */
@font-face {
    font-family: 'Minhye';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Minhye.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 제목 글꼴 */
@font-face {
    font-family: 'Ownglyph_eunbyul21-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
